In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import altair as alt
from altair import datum

In [2]:
def get_simple_prop_df(data, var):
    # get frequency and proportion over all the years
    assert data in ['papers', 'authors'], 'data is wrong!'
    if data == 'authors':
        df = pd.DataFrame(Counter(authors[var]).items(), columns = [var, 'freq'])
        df['prop'] = round(df['freq'] / total_author_num, 3)
        df.sort_values('prop', ascending = False, inplace = True)
    else:
        df = pd.DataFrame(Counter(papers[var]).items(), columns = [var, 'freq'])
        df['prop'] = round(df['freq'] / total_paper_num, 3)
        df.sort_values('prop', ascending = False, inplace = True)
    return df

In [3]:
def get_freq_and_prop(data, var):
    # get time series data
    assert data in ['papers', 'authors'], 'data is wrong!'
    if data == 'papers':
        dic = yearly_papernum_dic
        df = papers.groupby(['year', var]).size().to_frame('freq').reset_index()
        df['year total'] = [dic[x] for x in df.year]
    else:
        dic = yearly_authornum_dic
        df = authors.groupby(['year', var]).size().to_frame('freq').reset_index()
        df['year total'] = [dic[x] for x in df.year]
    df['prop'] = round(df['freq'] / df['year total'], 3)
    return df

In [4]:
def transform_year(df):
    dff = df.copy()
    dff['year'] = pd.to_datetime(dff['year'] , format='%Y')
    return dff

In [5]:
authors = pd.read_csv('../data/processed/authors_to_study_expanded.csv')
papers = pd.read_csv('../data/processed/papers_to_study_expanded.csv')
papers.replace({
    True: 'Yes',
    False: 'No'
}, inplace = True)

In [6]:
top_num = 5
top_country_dic = dict(Counter(authors['countrypred']).most_common(top_num))
top_country = list(top_country_dic.keys())
authors['countrypred_new'] = authors['countrypred'].apply(
        lambda x: x if x in top_country else 'Other'
    )

In [7]:
for i in [papers, authors]:
    i.replace({
        'Communication Theory': 'CT',
        'Communication, Culture and Critique': 'CCC',
        'Human Communication Research': 'HCR',
        'Journal of Communication': 'JOC',
        'Journal of Computer-Mediated Communication': 'JCMC'
                      }, inplace = True)

In [8]:
total_paper_num = len(papers)
total_author_num = len(authors)

In [9]:
total_paper_num, total_author_num

(3169, 7083)

In [10]:
yearly_papernum = papers.groupby(
    'year').size().to_frame(name='freq').reset_index()
yearly_authornum = authors.groupby(
    'year').size().to_frame(name='freq').reset_index()
yearly_authornum_dic = dict(zip(yearly_authornum.year, yearly_authornum.freq))
yearly_papernum_dic = dict(zip(yearly_papernum.year, yearly_papernum.freq))

## Country

In [11]:
all_country = list(set(authors['countrypred']))
len(all_country)

62

In [13]:
country_prop = get_simple_prop_df('authors', 'countrypred_new')
country_prop.replace({'NL': 'Netherlands',
                    'DE': 'Germany',
                    'GB': 'Great Britain',
                    'IL': 'Israel'}, inplace = True)
country_prop

  countrypred_new  freq   prop
0              US  4794  0.677
2           Other  1294  0.183
5     Netherlands   345  0.049
1         Germany   253  0.036
3   Great Britain   224  0.032
4          Israel   173  0.024

In [20]:
country_ts = get_freq_and_prop('authors', 'countrypred_new')
country_ts[country_ts.countrypred_new == 'US']

     year countrypred_new  freq  year total   prop
5    2000              US   136         171  0.795
9    2001              US   142         177  0.802
15   2002              US   208         263  0.791
20   2003              US   161         214  0.752
25   2004              US   202         248  0.815
31   2005              US   246         318  0.774
37   2006              US   254         311  0.817
43   2007              US   206         308  0.669
49   2008              US   232         304  0.763
55   2009              US   223         335  0.666
61   2010              US   219         295  0.742
67   2011              US   237         308  0.769
73   2012              US   214         348  0.615
79   2013              US   245         355  0.690
85   2014              US   254         431  0.589
91   2015              US   228         402  0.567
97   2016              US   193         352  0.548
103  2017              US   199         352  0.565
109  2018              US   229         368  0.622
115  2019              US   184         269  0.684
121  2020              US   196         299  0.656
127  2021              US   265         455  0.582
133  2022              US   121         200  0.605

In [16]:
country_ts[country_ts.countrypred_new == 'Other']

     year countrypred_new  freq  year total   prop
4    2000           Other    16         171  0.094
8    2001           Other    25         177  0.141
14   2002           Other    41         263  0.156
19   2003           Other    35         214  0.164
24   2004           Other    31         248  0.125
30   2005           Other    53         318  0.167
36   2006           Other    33         311  0.106
42   2007           Other    68         308  0.221
48   2008           Other    42         304  0.138
54   2009           Other    76         335  0.227
60   2010           Other    50         295  0.169
66   2011           Other    39         308  0.127
72   2012           Other    79         348  0.227
78   2013           Other    60         355  0.169
84   2014           Other    88         431  0.204
90   2015           Other    89         402  0.221
96   2016           Other    77         352  0.219
102  2017           Other    78         352  0.222
108  2018           Other    69         368  0.188
114  2019           Other    48         269  0.178
120  2020           Other    67         299  0.224
126  2021           Other    92         455  0.202
132  2022           Other    38         200  0.190

In [17]:
with_us_prop = get_simple_prop_df('papers', 'with_us_authors')
with_us_prop

  with_us_authors  freq   prop
0             Yes  2290  0.723
1              No   879  0.277

In [18]:
with_us_prop_ts = get_freq_and_prop('papers', 'with_us_authors')
with_us_prop_ts.head()

   year with_us_authors  freq  year total   prop
0  2000              No    16          88  0.182
1  2000             Yes    72          88  0.818
2  2001              No    11          92  0.120
3  2001             Yes    81          92  0.880
4  2002              No    27         125  0.216

In [19]:
with_us_prop_ts.tail()

    year with_us_authors  freq  year total   prop
41  2020             Yes    94         131  0.718
42  2021              No    56         167  0.335
43  2021             Yes   111         167  0.665
44  2022              No    35          78  0.449
45  2022             Yes    43          78  0.551

In [21]:
with_us_prop_ts.sort_values('prop')

    year with_us_authors  freq  year total   prop
2   2001              No    11          92  0.120
8   2004              No    15         109  0.138
12  2006              No    22         137  0.161
22  2011              No    23         138  0.167
0   2000              No    16          88  0.182
10  2005              No    27         143  0.189
6   2003              No    23         112  0.205
4   2002              No    27         125  0.216
16  2008              No    32         148  0.216
20  2010              No    31         139  0.223
38  2019              No    34         121  0.281
40  2020              No    37         131  0.282
18  2009              No    44         151  0.291
30  2015              No    53         165  0.321
36  2018              No    51         157  0.325
42  2021              No    56         167  0.335
14  2007              No    51         152  0.336
26  2013              No    53         154  0.344
34  2017              No    53         153  0.346
24  2012              No    57         163  0.350
28  2014              No    69         187  0.369
32  2016              No    59         159  0.371
44  2022              No    35          78  0.449
45  2022             Yes    43          78  0.551
33  2016             Yes   100         159  0.629
29  2014             Yes   118         187  0.631
25  2012             Yes   106         163  0.650
35  2017             Yes   100         153  0.654
27  2013             Yes   101         154  0.656
15  2007             Yes   101         152  0.664
43  2021             Yes   111         167  0.665
37  2018             Yes   106         157  0.675
31  2015             Yes   112         165  0.679
19  2009             Yes   107         151  0.709
41  2020             Yes    94         131  0.718
39  2019             Yes    87         121  0.719
21  2010             Yes   108         139  0.777
5   2002             Yes    98         125  0.784
17  2008             Yes   116         148  0.784
7   2003             Yes    89         112  0.795
11  2005             Yes   116         143  0.811
1   2000             Yes    72          88  0.818
23  2011             Yes   115         138  0.833
13  2006             Yes   115         137  0.839
9   2004             Yes    94         109  0.862
3   2001             Yes    81          92  0.880

## Number of countries

In [22]:
num_country_df = get_simple_prop_df('papers', 'num_country')
num_country_df

   num_country  freq   prop
0            1  2690  0.849
1            2   408  0.129
3            3    57  0.018
2            4     9  0.003
5            9     3  0.001
4            6     1  0.000
6            7     1  0.000

In [23]:
total_paper_num

3169

## Affiliations